html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Oswald';
    background-color: #f0f0f0;
    overflow-x: hidden;
}

.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    /* background-color: black; */
}

.nav-bar{
    position: relative;
    margin: auto auto 0;
    
    width: 25%;
    min-width: 31vw;
    height: 5vh;
    border-radius: 15vmax;
    /* box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: sandybrown; */
}


.nav-entry{
    flex-basis: auto;
    /* font-size: 20px; */
    font-size: 2vmin;
    padding: .5vmin 1vmin;
    text-transform: uppercase;
    text-wrap: nowrap;
    text-decoration: none;
    line-height: 5vh;
    color: black;
    text-align: center;
    border-radius: 8vmin;
    flex-wrap: nowrap;
    /* box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1); */
    justify-content: center;
}

.nav-entry:hover{
    /* color: cyan; */
    background-color: cyan;
    border-radius: 1vmin;
    transition: 0.3s;
}

.sticky{
    z-index: 1;
    position:fixed;
    top:0;
    background-color: sandybrown;
}


.background-image{
    position: absolute;
    z-index: -100;
}

.landing-boat{
    display:flex;
    justify-content: center;
    align-self: center;
    width:30%;
    height:auto;
    /* margin-left: auto;
    margin-right: auto; */
    
}

.landing-text{
    align-self: center;
    text-align: left;
    line-height: 0;
}

#home span{
    color: rgb(15, 224, 224);
}

.landing-buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    /* font-size: 30px; */
    font-size: 3vmin;
    width:60%;
    margin-bottom: 3vmax;
    /* background-color: black; */
}

.landing-button{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 .5vmin .55vmin 0 rgba(0, 0, 0, 0.1);
    border-radius: 2vmin;
    padding: 1vw 2vw;
    background-color: rgb(0, 255, 255);
}



#home{
    /* background-color: black; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5vmin;
    height: 100vh;
    width: 100vw;

    /* background-image: url('background.svg');
    background-size:cover;
    background-position: center right;
    background-repeat: no-repeat; */
}


/* FOR TESTING */
#projects{
    /* background-color: red; */
    font-size: 150px;
    word-wrap: break-word;
}

#contact{
    /* background-color: blue; */
    font-size: 150px;
}
