html{
    scroll-behavior: smooth;
    height: 100%;
}

body{
    font-family: 'Oswald';
    background-color: #f0f0f0;
    overflow-x: hidden;
    margin: 0;
    height: 100%;
}

.background-image {
    position: absolute;
    z-index: -100;
}

/* NAV ---------------------------------------------------------------------- */

.logo{
    position: absolute;
    margin-left: 2vw;
    margin-top: 2vh;
    font-size: 4vmin;
}

.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    /* background-color: black; */
}

.nav-bar{
    position: relative;
    margin: auto auto 0;
    
    min-width: 30vw;
    height: 5vh;
    border-radius: 1vmax;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: sandybrown; */
}


.nav-entry{
    flex-basis: auto;
    font-size: 2vmin;
    padding: .5vmin 1vmin;
    text-transform: uppercase;
    text-wrap: nowrap;
    text-decoration: none;
    line-height: 5vh;
    color: black;
    text-align: center;
    border-radius: 8vmin;
    flex-wrap: nowrap;
    /* box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1); */
    justify-content: center;
}

.nav-entry:hover{
    /* color: cyan; */
    background-color: cyan;
    border-radius: 1vmin;
    transition: 0.3s;
}


/* LANDING ---------------------------------------------------------------------- */

.landing-boat{
    display:flex;
    justify-content: center;
    align-self: center;
    width:30%;
    height:auto;
}

.landing-text{
    align-self: center;
    text-align: left;
    line-height: 0;
}

#home span{
    color: rgb(15, 224, 224);
}

.landing-buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    font-size: 3vmin;
    width:60%;
    margin-bottom: 3vmax;
    /* background-color: black; */
}

.landing-button{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 .5vmin .55vmin 0 rgba(0, 0, 0, 0.1);
    border-radius: 2vmin;
    padding: 1vw 2vw;
    background-color: rgb(0, 255, 255);
}


#home{
    /* background-color: black; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5vmin;
    height: 100vh;
    width: 100vw;
}

/* PROJECTS ---------------------------------------------------------------------- */
#projects{
    /* background-color: red; */
    word-wrap: break-word;
    font-size: 3vmin;
    min-height: 100vh;
    min-width: 100vw;
    margin-top: 0vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flip{
    transform: scale(-1, -1);
    margin-left: -1.6vw;
    margin-top: -.1vh;;
}

.project-title{
    text-align: left;
    font-size: 5vmin;
    margin-bottom: 3vmax;
    margin-top: 10vh;
}

.project-container{
    display: flex;
    /* COME BACK TO ADJUST FINAL SIZE */
    max-width: 60vw; 

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 2vmax;
    row-gap: 2vmax;
    /* max-width: 500px; do this for small screens */
    /* background-color: black; */
}

.project{
    display:flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    border-radius: 1.5vmin;
    box-shadow: 0 .5vmin .55vmin 0 rgba(0, 0, 0, 0.1);
    padding: 1vw 1vw;
    background-color: #e7e6e6;
    width: 50vmin;
    height: 70vmin;
    /* background-color: black; */
}

.project-image{
    /* width: 40vw; */
    width:50vmin;
    height: 40vmin;
    border-radius: 1.5vmin;
    max-height: 70vh;
    transition: all 0.3s ;
    /* background-color: black; */
}

.project-image:hover{
    transform: scale(1.05)

}

.project-header{
    display:flex;
    flex-direction: row;
    text-align: left;
    justify-content: right;
    white-space: nowrap;
    flex-wrap: nowrap;
    width:100%;
    height:6vh;
    /* background-color: yellow; */
}

.project-header-title{
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 1vh;
    /* background-color: red; */
}


.project-header-icon{
    width: 4vmin;
    align-self: right;
    padding: 0 .8vmin;
    margin-bottom: 0px;
    margin-top: 1vh;
    transition: all 0.3s linear;
    /* background-color: red; */
}

.project-tech{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0px;
    /* background-color: purple; */
}

.project-tech-icon{
    width:6vmin;
    height: auto;
    align-self: left;
    /* background-color: brown; */
}

.project-header-icon:hover{
    transform: scale(1.5);
    color:cyan;
}

.project-description{
    text-align: left;
    font-size: 2.3vmin;
    /* background-color: yellow; */
}

.project-description p{
    /* background-color: yellowgreen; */
    margin-bottom: auto;
    margin-top:0px;
}

/* CONTACT ---------------------------------------------------------------------- */
#contact{
    /* background-color: blue; */
    font-size: 8vmin;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    margin-top: 2vh;
    overflow: hidden;
    /* -moz-overflow: hidden; */
}

.contact-wave{
    transform: scaleX(-1);
    width:100vw;
    height: auto;
}

.contact-title{
    margin-top:auto;
    margin-bottom: 0px;
    padding:0px;
    /* background-color: yellow; */

}

.contact-container{
    position: relative;
    font-size: 3vmin;
    display: block;
    width: 80%;
    max-width: 50vw;
    height:auto;
    margin: 10vh auto 0 auto;
    padding: 2vmin;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 .5vmin .55vmin 0 rgba(0, 0, 0, 0.1);
    justify-content: center;
    background-color: sandybrown;
    border-radius: 1vh;
}

.contact-form{
    display: flex;
    flex-direction: column;
    position: relative;
}

.contact-label{
    text-align: left;
    font-size: 2vmin;

}

.contact-input{
    height:3vh;
    border-radius: 1vmin;
    margin-bottom: 1vh;
    border-style: none;
    border:none;
    outline: none;
    font-family: inherit;
    font-size: 2vmin;
    padding: 1vmin;
}

.contact-area{
    border-radius: 1vmin;
    margin-bottom: 1vh;
    border-style: none;
    border:none;
    outline: none;
    font-family: inherit;
    font-size: 2vmin;
    padding: 1vmin;
    resize: none;
}

.contact-button{
    border-radius: 1vmin;
    padding: 1vmin;
    font-size: 4vmin;
    background-color: cyan;
    color: black;
    border-style: none;
    border:none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-family: inherit;
}

.contact-button:hover{
    background-color: rgb(15, 231, 231);
}

.flip-contact {
    transform: scale(-1, -1);
    margin-left:-50vw;
    margin-top: -1vh;
}

.honeypot{
    display: none;
}

.contact-boat{
    display: flex;
    position: absolute;
    margin-left: 70vw;;
    width: 20%;
    height: auto;
    /* background-color: black; */
    margin-bottom: 0px;
}


.form-elements{
    display: flex;
    flex-direction: column;
    position: relative;
}

.contact-icon{
    width:8vw;
    margin-top: 2vh;
}

.contact-foot{
    position: absolute;
    /* clip-path:inset(0 30vw 0 0); */
    overflow:hidden;
    /* transform: translateX(-100%); */
    /* bottom:0; */
}

@media only screen and (hover: none) and (pointer: coarse) {

    .contact-foot{
        display: none;
    }

    .flip{
        margin-top:-2vh;
    }

}



/* FOOTER ---------------------------------------------------------------------- */
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2vmin;
}



/* GLOBAL ----------------------------------------------------------------------- */
.sticky {
    z-index: 100;
    position: fixed;
    top: 0;
    background-color: sandybrown;
}

.overlay {
    position: absolute;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.loader {
    position: absolute;
    z-index: 1000;


    width: 35vmin;
    aspect-ratio: 1;
    color: #854f1d;
    border-radius: 50%;
    display: grid;
    background:
        conic-gradient(from 90deg at 4px 4px, #0000 90deg, currentColor 0) -4px -4px/calc(50% + 2px) calc(50% + 2px),
        radial-gradient(farthest-side, currentColor 6px, #0000 7px calc(100% - 6px), currentColor calc(100% - 5px)) no-repeat;
    animation: l10 2s infinite linear;
    position: relative;
}

.loader:before {
    content: "";
    border-radius: inherit;
    background: inherit;
    transform: rotate(45deg);
}

@keyframes l10 {
    to {
        transform: rotate(.5turn)
    }
}
